<div class="main-section">
  @let result = selectedDrawn();

  <aside class="panel panel--left">
    <div class="logo-card">
      <h2 class="card_title">MAJOR</h2>
      <h2 class="card_subtitle">
        {{result?.major?.name}}
      </h2>
      <div class="logo-card__ghost">
        @if (result) {
        <img
        [src]="result.major.icon"
        >
        }
      </div>
      <div class="logo-card__ghost">
        @if (result) {
          <img
          [src]="result.team.logo"
          >
        }
      </div>
      <h2 class="card_subtitle">{{result?.team?.name}}</h2>
    </div>

    @if (result) {
      <div class="roaster">
        @for (player of result.players; track player.nick) {
          <app-player-card
          [nick]="player.nick"
          [score]="player.score"
          />

        }

      </div>
    }


    <h2 class="card_title">Catálogo</h2>
    <div class="catalog">
      <div class="catalog-card">
        <h2 class="catalog-number">{{majorService.majors.length}}</h2>
        <h3 class="catalog_subtitle">Majors</h3>
      </div>

      <div class="catalog-card">
        <h2 class="catalog-number">{{teamService.teams.length}}</h2>
        <h3 class="catalog_subtitle">Times</h3>
      </div>
    </div>

    <button type="button" class="draft-btn" (click)="drawn()">SORTEAR</button>
  </aside>

  <section class="panel panel--center">
    <div class="container-center">
      <h1 class="card_title">PRONTO PRA SORTEAR</h1>
    </div>
  </section>
  <section class="panel panel--right"></section>
</div>


