<div class="main-section">
  @let result = selectedDrawn();

  <aside class="panel panel--left">
    <div class="logo-card">
      <h2 class="card_title">MAJOR</h2>
      <h2 class="card_subtitle">
        {{result?.major?.name}}
      </h2>
      <div class="logo-card__ghost">
        @if (result) {
        <img
        [src]="result.major.icon"
        >
        }
      </div>
      <div class="logo-card__ghost">
        @if (result) {
          <img
          [src]="result.team.logo"
          >
        }
      </div>
      <h2 class="card_subtitle">{{result?.team?.name}}</h2>
    </div>

    @if (result) {
      <div class="roaster">
        @for (player of result.players; track player.nick) {
          <app-player-card
          [player]="player"
          [active]="activePlayer()?.nick === player.nick"
          [disabled]="activePlayer() !== null && activePlayer()?.nick !== player.nick"
          (addToTeam)="addPlayer($event)"
          (cardClick)="togglePlayer(player)"
          />
        }

      </div>
    }


    <h2 class="card_title">Catálogo</h2>
    <div class="catalog">
      <div class="catalog-card">
        <h2 class="catalog-number">{{majorService.majors.length}}</h2>
        <h3 class="catalog_subtitle">Majors</h3>
      </div>

      <div class="catalog-card">
        <h2 class="catalog-number">{{teamService.teams.length}}</h2>
        <h3 class="catalog_subtitle">Times</h3>
      </div>
    </div>

    <button type="button" class="draft-btn" (click)="drawn()">SORTEAR</button>
  </aside>

  <section class="panel panel--center">


      <div class="header">
        <div class="header__left">
          <h4>FORMAÇÃO</h4>
          <h1>TEAM NAME GRANDÃO</h1>
        </div>
        <div class="header__right">
          <span [class.active]="team()[0] !== null"></span>
          <span [class.active]="team()[1] !== null"></span>
          <span [class.active]="team()[2] !== null"></span>
          <span [class.active]="team()[3] !== null"></span>
          <span [class.active]="team()[4] !== null"></span>
        </div>
      </div>

      <div class="player_roster">
        <span class="circle" aria-hidden="true"></span>

        @for (player of team(); track $index) {
          <div [class]="'slot slot-' + ($index + 1)">
            @if (player) {
              <span class="slot-name">{{ player.nick }}</span>
              <span class="slot-role">{{ player.roles }}</span>
              <span class="slot-score">{{ player.score }}</span>
            }
          </div>
        }
      </div>


  </section>

  <section class="panel panel--right"></section>
</div>


