.player_card {
  display: flex;
  background-color: var(--paper-light);
  border: 1px solid var(--line);
  height: 3rem;
  width: 100%;
  object-fit: contain;
  padding: 1rem;
  justify-content: space-between;
  object-fit: contain;
  align-items: center;
  cursor: pointer;

  &.active {
    background-color: var(--color-primary);
    color: #fff;
  }

  &.disabled {
    opacity: .4;
    pointer-events: none;

    .player_roles {
      color: inherit;
    }
  }

  &:hover {
    background-color: var(--color-primary);
    color: #fff;

    .player_roles {
      color: inherit;
    }
  }
}

.player_name {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.right-side {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
}

.player_roles {
  font-family: var(--font-display);
  color: var(--color-text-secondary);
  font-size: 12px;
  font-weight: 300;

}

.player_score {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 24px;
}
